<table class="typo3-dyntabmenu" cellspacing="0" cellpadding="0" border="0">
	<tbody>
		<tr>
			<td class="tabact" nowrap="nowrap">
				<a id="phpdisplay_tab1" onclick="this.blur(); return false;" href="#">###MAPPING###</a>
			</td>
			<td class="tab" nowrap="nowrap">
				<a id="phpdisplay_tab2" onclick="this.blur(); return false;" href="#">###EDIT_HTML### ###IMPORTED###</a>
			</td>
		</tr>
	</tbody
</table>

<div id="phpdisplay_html" class="phpdisplay_hidden">
	<textarea id="phpdisplay_htmlContent" name="###STORED_FIELD_NAME_TEMPLATE###">###TEMPLATE_CONTENT_SRC###</textarea>
	<div id="loadingBoxHtml" class="phpdisplay_hidden">
		<img src="###INFOMODULE_PATH###loading.gif" alt="loading" />
	</div>
</div>

<div id="phpdisplay_mapping" class="">
	<table border="0">
		<tbody>
			<tr>
				<td id="phpdisplay_cellLeft" valign="top">
<pre id="phpdisplay_templateBox">
###TEMPLATE_CONTENT###
</pre>
				</td>
				<td id="phpdisplay_cellRight" valign="top">
					<div id="phpdisplay_fieldBox">
						<label for="phpdisplay_fields" class="phpdisplay_block">###FIELDS###</label>
						<select id="phpdisplay_fields" class="phpdisplay_component">
							<option value="NULL.null"></option>
							###AVAILABLE_FIELDS###
						</select>
					</div>
					<div id="phpdisplay_typeBox" class="phpdisplay_hidden">
						<label for="phpdisplay_type" class="phpdisplay_block">###TYPES###</label>
						<select id="phpdisplay_type" class="phpdisplay_component">
							<option value="text">###TEXT###</option>
							<option value="richtext">###RICHTEXT###</option>
							<option value="image">###IMAGE###</option>
							<option value="imageResource">###IMAGE_RESOURCE###</option>
							<option value="linkToDetail">###LINK_TO_DETAIL###</option>
							<option value="linkToPage">###LINK_TO_PAGE###</option>
							<option value="linkToFile">###LINK_TO_FILE###</option>
							<option value="email">###EMAIL###</option>
							<option value="user">###USER###</option>
						</select>
					</div>
					<div id="phpdisplay_configuationBox" class="phpdisplay_hidden">
						<label for="phpdisplay_configuration" class="phpdisplay_block">###CONFIGURATION###</label>
						<textarea id="phpdisplay_configuration" class="phpdisplay_component" wrap="off" style="margin-bottom: 5px"></textarea>

						<div id="phpdisplay_snippettext" class="phpdisplay_snippetBox phpdisplay_component">
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_blue.png" alt="snippet" title="snippet 1: defines some styling value"/></a>
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_green.png" alt="snippet" title="snippet 2: format date"/></a>
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_red.png" alt="snippet" title="snippet 3: wrap data"/></a>
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_yellow.png" alt="snippet" title="snippet 4: insert data"/></a>
						</div>
						<div id="phpdisplay_snippetrichtext" class="phpdisplay_snippetBox phpdisplay_component phpdisplay_hidden">
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_blue.png" alt="snippet" title="snippet 1: TODO"/></a>
						</div>
						<div id="phpdisplay_snippetimage" class="phpdisplay_snippetBox phpdisplay_component phpdisplay_hidden">
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_blue.png" alt="snippet" title="snippet 1: defines width"/></a>
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_green.png" alt="snippet" title="snippet 2: defines alt / title tag"/></a>
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_red.png" alt="snippet" title="snippet 3: wraps a link around the image"/></a>
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_yellow.png" alt="snippet" title="snippet 4: wraps a link around the image and remove white spaces from the URL"/></a>
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_orange.png" alt="snippet" title="snippet 5: defines the image's path"/></a>
						</div>
						<div id="phpdisplay_snippetimageResource" class="phpdisplay_snippetBox phpdisplay_component phpdisplay_hidden">
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_blue.png" alt="snippet" title="snippet 1: gets the path of an image. A typo3temp path may be return if the image is resized.."/></a>
						</div>
						<div id="phpdisplay_snippetlinkToDetail" class="phpdisplay_snippetBox phpdisplay_component phpdisplay_hidden">
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_blue.png" alt="snippet" title="snippet 1: defines other parameters"/></a>
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_green.png" alt="snippet" title="snippet 2: defines other paramaters which are dynamic"/></a>
						</div>
						<div id="phpdisplay_snippetlinkToPage" class="phpdisplay_snippetBox phpdisplay_component phpdisplay_hidden">
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_blue.png" alt="snippet" title="snippet 1: defines other parameters"/></a>
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_green.png" alt="snippet" title="snippet 2: defines other paramaters which are dynamic"/></a>
						</div>
						<div id="phpdisplay_snippetlinkToFile" class="phpdisplay_snippetBox phpdisplay_component phpdisplay_hidden">
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_blue.png" alt="snippet" title="snippet 1: TODO"/></a>
						</div>
						<div id="phpdisplay_snippetemail" class="phpdisplay_snippetBox phpdisplay_component phpdisplay_hidden">
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_blue.png" alt="snippet" title="snippet 1: TODO"/></a>
						</div>
						<div id="phpdisplay_snippetuser" class="phpdisplay_snippetBox phpdisplay_component phpdisplay_hidden">
							<a href="#" onclick="return false"><img src="###INFOMODULE_PATH###tag_blue.png" alt="snippet" title="snippet 1: TODO"/></a>
						</div>
						<button id="phpdisplay_saveConfigurationBt" onclick="return false">###SAVE_FIELD_CONFIGURATION###</button>
						<!--
						<button>###INSERT_DEFAULT_CONFIGURATION###</button>
						-->
					</div>
					<div id="loadingBox" class="phpdisplay_hidden">
						<img src="###INFOMODULE_PATH###loading.gif" alt="loading" />
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div id="phpdisplay_jsonBox">
		<input type="hidden" name="" value="" id="phpdisplay_marker"/>
		<input type="checkbox" name="" value="1" id="phpdisplay_showJson"/>
		<label for="phpdisplay_showJson">###SHOW_JSON###</label>
		<input type="checkbox" name="" value="1" id="phpdisplay_editJson" class="phpdisplay_hidden"/>
		<label for="phpdisplay_editJson" id="phpdisplay_labelEditJson"  class="phpdisplay_hidden">###EDIT_JSON###</label>
		<textarea id="phpdisplay_json" class="phpdisplay_hidden" readonly="readonly" name="###STORED_FIELD_NAME###">###STORED_FIELD_VALUE###</textarea>
	</div>
</div>
<script type="text/javascript">
	var infomodule_path = '###INFOMODULE_PATH###';
	var tx_phpdisplay_uid = '###UID###';
	var tx_phpdisplay_defaultTable = '###DEFAULT_TABLE###';
	var tx_phpdisplay_hasChanged = false;
</script>
<script id="snippettext1" type="text/plain">
<![CDATA[
wrap = <b>|</b>
case = upper="adsf"
]]>
</script>
<script id="snippettext2" type="text/plain">
<![CDATA[
# Formats local time/date
strftime = %e %B %G
]]>
</script>
<script id="snippettext3" type="text/plain">
<![CDATA[
#Wrap the content with value
# {leveltitle:0}
# {page:title}
# {gpvar:tx_extension_pi1|uid}
dataWrap = Page id {tsfe:id} | ...
]]>
</script>
<script id="snippettext4" type="text/plain">
<![CDATA[
data = field:title // field:subtitle
]]>
</script>
<script id="snippetimage1" type="text/plain">
<![CDATA[
# width - height
file.width = 100
]]>
</script>
<script id="snippetimage2" type="text/plain">
<![CDATA[
file.width = 50
file.height = 50
params = class="thumbnail"
altText = {field:model}
altText.insertData =1
titleText = {field:model}
titleText.insertData =1
]]>
</script>
<script id="snippetimage3" type="text/plain">
<![CDATA[
file.width = 100
stdWrap.typolink{
  parameter.field = media
  target = blank
  ATagParams = class="changeMe"
  additionalParams = &test=2
}
]]>
</script>
</script>
<script id="snippetimage4" type="text/plain">
<![CDATA[
# Remove white spaces in the URL
file.width = 100
stdWrap.typolink{
  parameter.field = media
  target = blank
  parameter.split{
    token = /
    cObjNum = 1
    1 = TEXT
    1.current = 1
    1.rawUrlEncode = 1
    1.wrap = /|
  }
}
]]>
</script>
<script id="snippetimage5" type="text/plain">
<![CDATA[
# Defines the image path
file.import = uploads/pics/
file.import.field = image
file.height = 230
imageLinkWrap = 1
imageLinkWrap {
    typolink.parameter.field = shortcut
    enable = 1
}
]]>
</script>
<script id="snippetimageResource1" type="text/plain">
<![CDATA[
# Gets the path of an image. A typo3temp path may be return if the image is resized.
file.import = fileadmin/user_upload/resources/
file.import.field = file_name
file.maxW = 600
stdWrap.wrap = <a href="/|"></a>
]]>
</script>

<script id="snippetlinkToDetail1" type="text/plain">
<![CDATA[
# parameter is mandatory
parameter = 1
additionalParams = &tx_displaycontroller[table]=tx_plugin&tx_displaycontroller[showUid]={field:uid}
additionalParams.insertData = 1
]]>
</script>
<script id="snippetlinkToDetail2" type="text/plain">
<![CDATA[
parameter.data = TSFE:tmpl|setup|config.|key
additionalParams = &tx_displaycontroller[table]=tx_plugin&tx_displaycontroller[showUid]={register:parent.uid}
additionalParams.insertData = 1
]]>
</script>
<script id="snippetlinkToPage1" type="text/plain">
<![CDATA[
# parameter is mandatory
parameter = 1
additionalParams = &tx_myext_pi1[param]=value
]]>
</script>
<script id="snippetlinkToPage2" type="text/plain">
<![CDATA[
parameter.data = TSFE:tmpl|setup|config.|key
additionalParams = &tx_myext_pi1[uid]={field:uid}&tx_myext_pi1[title]={page:title}
additionalParams.insertData = 1
]]>
</script>
<script id="snippetlinkToFile1" type="text/plain">
<![CDATA[
# Other examples are welcome. Please report them.
]]>
</script>
<script id="snippetemail1" type="text/plain">
<![CDATA[
# Define an email
parameter = email@domain.tld
# gernerates the href attribute only.
# the email can be encrypted with some global configuration settings
returnLast = url
]]>
</script>
<script id="snippetuser1" type="text/plain">
<![CDATA[
userFunc = tx_user_userfuncs->userfunc
]]>
</script>