#loadingBox{
	text-align: center;
}

#loadingBoxHtml{
	text-align: center;
	position: relative;
	bottom: 150px;
}

.phpdisplay_hidden{
	display: none;
}
#phpdisplay_templateBox{
	overflow: auto;
	color: gray;
}

.phpdisplay_loop{
	background-color: #ccffcc;
	color: #333;
}

.phpdisplay_label{
	background-color: #ccccff;
	color: #333;
}

.phpdisplay_function{
	background-color: #ffcc99;
	color: #333;
}

.phpdisplay_if{
	color: #333;
    background-color: #ffffcc;
}

.phpdisplay_empty{
	color: #333;
    background-color: #ff9999;
}

#phpdisplay_html textarea{
	width: 99%;
	height: 400px;
}

#phpdisplay_mapping label.phpdisplay_block{
	display: block;
}

#phpdisplay_configuration{
	height: 200px;
}

.phpdisplay_component{
	margin-bottom: 20px;
	width: 200px;
}

#phpdisplay_jsonBox *{
	vertical-align: middle;
}

#phpdisplay_json{
	width:100%;
	height: 200px;
}

#phpdisplay_cellLeft{
	border-right: 1px dotted gray;
	min-width: 200px;
}

.mapping_pictogrammBox{
    background-color: #fff;
	position: relative;
	line-height: 2;
}

.mapping_pictogramm1{
	position: absolute;
	bottom: 12px;
	right: 5px;
}

.mapping_pictogramm2{
	position: absolute;
	bottom: 12px;
	right: -10px;
}
